<img src="/images/home_2.jpg" />

<script> 
  window.ViewProjectControllerData = {
    'id' : <% @id %>
  };
</script>

<div ng-controller="ViewProjectController">
  <div>name: {{project.name}}</div>
  <div>desc: {{project.desc}}</div>
  <div>image: {{project.image}}</div>
</div>
