<img src="/images/home_4.jpg" />

<h1 class="introduction">Delete project</h1>

<script>
  window.DeleteProjectControllerData = {
    id : <%= @id %>
  };
</script>

<div ng-controller="DeleteProjectController">

  <div ng-show="valid && !done">
    <h2>Are you sure you want to delete that? No going back... </h2>
    <input type="button" ng-click="remove()" value="Yeah, really delete that"/>
  </div>

  <div ng-hide="valid">
    That doesn't seem to be a valid project.
  </div>

  <div ng-show="error">
    Looks like something went wrong! Sorry!
  </div>

  <div ng-show="done">
    Project destroyed.
  </div>

</div>
