<img src="/images/home_2.jpg" />

<h1 class="introduction">Manage my projects</h1>

<div ng-controller="ListProjectController">
  <p>You have <strong ng-model="projectCount">{{ projectCount }}</strong> projects open:</p>

  <table class="projects">
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Desc</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <tr ng-repeat="project in projects">
      <td>{{project.image}}</td>
      <td>{{project.name}}</td>
      <td>{{project.desc}}</td>
      <td>Show</td>
      <td>Edit</td>
      <td>Delete forever</td>
    </tr>

  </table>

  <h2>Successful projects</h2>

  <p>PROJECTS THAT MET THE TARGET</p>

  <h2>Shelved projects</h2>

  <p>PROJECTS THAT DIDN'T MEET THE TARGET</p>
</div>
