<img src="/images/home_2.jpg" />

<h1 class="introduction">Manage my projects</h1>

<div class="container-inner">

<%# Rails doesn't handle urls in the assets pipeline %>
<script>
  window.ListProjectControllerData = {
    'baseEditUrl' : '<%= project_edit_base_url %>',
    'baseViewUrl' : '<%= project_view_base_url %>',
    'baseDeleteUrl' : '<%= project_delete_base_url %>',
  };
</script>

<div ng-controller="ListProjectController">
  <h2>You have <strong ng-model="projectCount">{{ projectCount }}</strong> open projects</h2>

		<table class="table">
			<thead>
				<tr>
					<th>Image</th>
					<th>Name</th>
					<th>Desc</th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			
			<tbody>
				<tr ng-repeat="project in projects">
					<td>{{project.image}}</td>
					<td>{{project.name}}</td>
					<td>{{project.desc}}</td>
					<td><i class="icon icon-eye-open" /> <small><a href="{{project.viewUrl}}">Show</a></small></td>
					<td><i class="icon icon-edit" /> <small><a href="{{project.editUrl}}">Edit</a></small></td>
					<td><i class="icon icon-trash" /> <small><a href="{{project.deleteUrl}}">Delete forever</a></small></td>
				</tr>
			</tbody>
		
		</table>

  <h2>Successful projects</h2>

  <p>PROJECTS THAT MET THE TARGET</p>

  <h2>Shelved projects</h2>

  <p>PROJECTS THAT DIDN'T MEET THE TARGET</p>

</div>
</div>
