<img src="/images/home_2.jpg" />

<h1 class="introduction">Manage my projects</h1>

<%# Rails doesn't handle urls in the assets pipeline %>
<script>
  window.ListProjectControllerData = {
    'baseEditUrl' : '<%= project_edit_base_url %>',
    'baseViewUrl' : '<%= project_view_base_url %>',
    'baseDeleteUrl' : '<%= project_delete_base_url %>',
  };
</script>

<div ng-controller="ListProjectController">

  <h2>You have <strong>{{ projects.new.count }}</strong> new projects</h2>

	<div class="container-inner" ng-hide="projects.new.count">
    You don't have any active projects.
  </div>

	<div class="container-inner" ng-show="projects.new.count">
		<table class="table">
			<thead>
				<tr>
					<th></th>
					<th>Status</th>
					<th>Name</th>
					<th>Desc</th>
					<th>Objective</th>
					<th>Private</th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="project in projects.new.items">
					<td><img src="http://placekitten.com/50/50/" /><!-- {{project.id}} {{project.image}} --></td>
					<td>{{project.status}}</td>
					<td><a href="{{project.viewUrl}}">{{project.name}}</a></td>
					<td>{{project.desc}}</td>
					<td>{{project.objective}}</td>
					<td>{{project.private}}</td>
					<td><i class="icon icon-eye-open"></i> <a href="{{project.viewUrl}}">Show</a></td>
					<td><i class="icon icon-edit"></i> <a href="{{project.editUrl}}">Edit</a></td>
					<td><i class="icon icon-trash"></i> <a href="{{project.deleteUrl}}">Delete</a></td>
				</tr>
			</tbody>
		</table>
	</div>

  <h2>You have <strong>{{ projects.active.count }}</strong> running projects</h2>

	<div class="container-inner" ng-hide="projects.active.count">
    You don't have any active projects.
  </div>

	<div class="container-inner" ng-show="projects.active.count">
		<table class="table">
			<thead>
				<tr>
					<th>Image</th>
					<th>Status</th>
					<th>Name</th>
					<th>Desc</th>
					<th>Objective</th>
					<th>Private</th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="project in projects.active.items">
					<td>{{project.id}} {{project.image}}</td>
					<td>{{project.status}}</td>
					<td><a href="{{project.viewUrl}}">{{project.name}}</a></td>
					<td>{{project.desc}}</td>
					<td>{{project.objective}}</td>
					<td>{{project.private}}</td>
					<td><i class="icon icon-eye-open"></i> <a href="{{project.viewUrl}}">Show</a></td>
					<td><i class="icon icon-trash"></i> <a href="{{project.deleteUrl}}">Delete</a></td>
				</tr>
			</tbody>
		</table>
	</div>

  <h2>Successful projects</h2>

	<div class="container-inner" ng-hide="projects.success.count">
    You don't have any successful projects yet.
  </div>

	<div class="container-inner" ng-show="projects.success.count">
		<table class="table">
			<thead>
				<tr>
					<th>Image</th>
					<th>Name</th>
					<th>Desc</th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="project in projects.success.items">
					<td>{{project.id}} {{project.image}}</td>
					<td>{{project.name}}</td>
					<td>{{project.desc}}</td>
					<td><i class="icon-book"></i> Track pledges</td>
					<td><i class="icon-refresh"></i> Recycle project</small></td>
					<td><i class="icon-trash"></i> Delete</td>
				</tr>
			</tbody>
		</table>
	</div>

  <h2>Shelved projects</h2>

	<div class="container-inner" ng-hide="projects.failed.count">
    You don't have any shelved projects yet.
  </div>

	<div class="container-inner" ng-show="projects.failed.count">
		<table class="table">
			<thead>
				<tr>
					<th>Image</th>
					<th>Name</th>
					<th>Desc</th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="project in projects.failed.items">
					<td>{{project.id}} {{project.image}}</td>
					<td>{{project.name}}</td>
					<td>{{project.desc}}</td>
					<td><i class="icon-eye-open"></i> View</td>
					<td><i class="icon-refresh"></i> Recycle project</small></td>
					<td><i class="icon-trash"></i> Delete</td>
				</tr>
			</tbody>
		</table>
	</div>

</div>
