<img src="/images/home_4.jpg" />

<h1 class="introduction">Create a new project</h1>

<h2>Tell us a bit about your project to get started</h2>

<form class="form-horizontal">
<div ng-controller="CreateProjectController">
  <div ng-show="hasErrors">
    Errors:
    <ul>
      <li ng-repeat="error in errors">
        <div> {{error.field}} -- {{error.error}} </div>
      </li>
    </ul>
  </div>
  <div ng-show="success">
    Success! <a href="/project/list">Click here to view your new project</a>
  </div>

  <div ng-hide="success">
  
  	<div class="control-group">
		<label for="project_name" class="control-label">Project name</label>
		<div class="controls">
			<input type="text" ng-model="project.name" name="project_name" />
		</div>
	</div>
	
	<div class="control-group">
		<label for="desc" class="control-label">Short description</label>
		<div class="controls">
			<textarea ng-model="project.desc" rows="4"></textarea>
		</div>
	</div>
	
	<div class="control-group">
		<label for="image" class="control-label">Project avatar</label>
		<div class="controls">
			<input type="file" ng-model="project.image" name="image" />		
		</div>
	</div>

	<div class="control-group">
		<label for="project_type" class="control-label">What is your objective?</label>
		<div class="controls">
			<select name="project_type" ng-model="project.objective">
				<option value="Shopping">I am getting something and want to see if others would like some too.</option>
				<option value="Project">I will arrange something if enough people are interested.</option>
				<option value="Gift">I am organising a gift and wish to let people contribute.</option>
				<option value="Idea">I have an idea and would like people support me.</option>
			</select>
		</div>
	</div>
	
	<div class="control-group">
		<div class="controls">
			<label class="checkbox">
				<input type="checkbox" value="" checked ng-model="public">
				This project is open to everyone.
				<p><small>Unticking this box means only people who have the link will be able to find your project.</small></p>
			</label>
		</div>
	</div>

	<div class="control-group">
		<div class="controls">
    		<button class="btn btn-success" ng-click="create()" type="button">Create this project</button>
		</div>
	</div>

  </div>


</div>
</form>
