<img src="/images/home_4.jpg" />

<script>
  window.ViewProjectControllerData = {
    'id' : <%= @id %>
  };
</script>

<div ng-controller="ViewProjectController">
  <div>
    Image: {{project.image}}
  </div>
  <div>
    Name: {{project.name}}
  </div>
  <div>
    Desc: {{project.desc}}
  </div>
</div>
