<img src="/images/home_6.jpg" />

<script>
  window.ViewProjectControllerData = {
    'id' : <%= @id %>
  };
</script>

<div ng-controller="ViewProjectController">
  <h1 class="introduction">{{project.name}}</h1>
  <div>
    Image: {{project.image}}
  </div>
  <div>
    Desc: {{project.desc}}
  </div>
</div>
