<script>
  window.ViewProjectControllerData = {
    'id' : <%= @id %>
  };
</script>

<div ng-controller="ViewProjectController">
  <div ng-hide="valid">
    This doesn't seem to be a valid project.
  </div>

	<div ng-show="valid">

		<h1>{{project.name}}</h1>
		
		<p>by USERNAME</p>

		<div class="container-inner">		
		<div class="col3 col3-doubleleft">
		
			<img src="http://placekitten.com/550/300" />

			<p class="lead-first">{{project.desc}}</p>
		
			<!-- <img src="{{project.image}}" /> -->
			
		</div>
		
		<div class="col3 col3-right">
		
			<p>Status: {{project.status}}</p>
			<p>Objective: {{project.objective}}</p>
			<p>Private: {{project.private}}</p>

		</div>
		</div>
  

	</div><!-- end of show valid -->

</div>
