<img src="/images/home_6.jpg" />

<script>
  window.ViewProjectControllerData = {
    'id' : <%= @id %>
  };
</script>

<div ng-controller="ViewProjectController">
  <div ng-hide="valid">
    This doesn't seem to be a valid project.
  </div>

  <div ng-show="valid">
    <h1 class="introduction">{{project.name}}</h1>
    <div>
      Image: {{project.image}}
    </div>
    <div>
      Desc: {{project.desc}}
    </div>
    <div>
      Status: {{project.status}}
    </div>
    <div>
      Objective: {{project.objective}}
    </div>
    <div>
      Private: {{project.private}}
    </div>
  </div>
</div>
