<script>
  window.ViewProjectControllerData = {
    'id' : <%= @id %>
  };
</script>

<div ng-controller="ViewProjectController">
  <div ng-hide="valid">
    This doesn't seem to be a valid project.
  </div>

	<div ng-show="valid">

		<h1>{{project.name}}</h1>
		
		<p><small>USERNAME || SOME HUMAN-FRIENDLY WORDING TO DESCRIBE THE PROJECT OBJECTIVE {{project.objective}}.</small></p>

		<div class="container-inner">		
		<div class="col3 col3-doubleleft">
		
			<img src="http://placekitten.com/720/300" class="project-image" />

			<p class="lead-first">{{project.desc}}</p>
			
			<p>PROJECT MENU OPTIONS, PLEDGING, ETC. GOES HERE</p>

      <div ng-hide="pledgeTypeCount">
        No pledge types for this project.
      </div>

      <div ng-show="pledgeTypeCount"> 
        Pledges:
        <div ng-repeat="item in pledgeTypes">
          ${{item.amount}} - {{item.name}} - {{item.desc}}
        </div>
      </div>
		
			<!-- <img src="{{project.image}}" /> -->
			
		</div>
		
		<div class="col3 col3-right breakout-box">
		
			<p>PLEDGE PROGRESS STUFF GOES HERE</p>
		
			<p>Status: {{project.status}}</p>
			
			<p>This is a PRIVATE/PUBLIC project. {{project.private}}</p>

		</div>
		</div>
  

	</div><!-- end of show valid -->

</div>
