<img src="/images/home_6.jpg" />

<script>
  window.ViewProjectControllerData = {
    'id' : <%= @id %>
  };
</script>

<div ng-controller="ViewProjectController">
  <div ng-hide="valid">
    This doesn't seem to be a valid project.
  </div>

	<div ng-show="valid">

		<h1>{{project.name}}</h1>
		
		<p class="lead-first">{{project.desc}}</p>
  

	</div><!-- end of show valid -->

</div>
