<img src="/images/home_6.jpg" />

<h1 class="introduction">PROJECT TITLE</h1>

<h2>Tell us a bit about your project</h2>

<div ng-controller="CreateProjectController">
  <div>
    Name; <input type="text" ng-model="project.name" value="Project name here">
  </div>
  <div>
    Image: <input type="text" ng-model="project.image" value="Image url here, if any">
  </div>
  <div>
    Desc: <textarea ng-model="project.desc">Description here</textarea>
  </div>
  <div>
    <input type="button" ng-click="update()" value="Create this project"/>
  </div>
</div>
