<h1>About</h1>

<p>Welcome to <strong>FollowThru</strong>, more intimately known as Doug's In-house Kickstarter System.</p>

<p>Create projects and get support from your workmates for food runs, birthday &amp; farewell collections and collaborations.</p>