<img src="/images/home_3.jpg" />

<h1 class="introduction">About Followthru</h1>

<p><strong>Followthru</strong> is our in-house kickstarter system. You've heard of crowdfunding sites like <a href="http://www.kickstarter.com/">Kickstarter</a>, <a href="http://www.indiegogo.com/">Indiegogo</a> and <a href="http://www.pozible.com/">Pozible</a> - well, this is the same deal.</p>

<p>Created for the August 2012 iiNet Deliverance Day.</p>

<h2>How does this work</h2>

<p>When organising a day-to-day group activity, like lunch orders, birthday collections, farewell chip-ins and collaborations, you <%= link_to 'create a project', home_new_path %>, set any necessary goals (eg. more than 5 people want curry today), then put out the call to your workmates.</p>

<p>If your project reaches its goal, you'll find it listed under your <%= link_to 'successful projects', home_manage_path %>, tracking everyone who's pledged and paid, so you'll know whether you physically have enough to follow through with your plan.</p>

<p>If you don't get all the pledges you need, we'll stash your project under <%= link_to 'shelved projects', home_manage_path %> so you can pick it up again another time when conditions are more favourable.</p>