<img src="/images/home_3.jpg" />

<h1 class="introduction">About Followthru</h1>

<p class="lead"><strong>Followthru</strong> is our in-house kickstarter system.</p>

<p>You've heard of crowdfunding sites like <a href="http://www.kickstarter.com/">Kickstarter</a>, <a href="http://www.indiegogo.com/">Indiegogo</a> and <a href="http://www.pozible.com/">Pozible</a> - well, this is the same deal.</p>

<p>Created by Doug Linder and Sandy Lim for the August 2012 iiNet Deliverance Day.</p>

<h2>How does this work</h2>

<div class="container-inner">

	<div class="col3 col3-left">
		<p>When organising a group activity, like lunch orders, birthday collections, farewell chip-ins and collaborations, you <%= link_to 'create a project', home_new_path %>, set any necessary goals (eg. more than 5 people want curry today), then put out the call to your workmates.</p>
	</div>
	
	<div class="col3 col3-mid">
		<p>If your project reaches its goal, you'll find it filed under your <%= link_to 'successful projects', home_manage_path %>, where you can track everyone who's pledged and paid, and know whether you physically have enough to follow through with your plan.</p>
	</div>

	<div class="col3 col3-right">
		<p>If you don't get all the pledges you need, we'll <%= link_to 'shelve your project', home_manage_path %> in case the future you wants to try again. Shelved projects retain all the details, goals and win conditions that you configured, but you'll need to ask your supporters to pledge once more.</p>
	</div>

</div>