<img src="/images/home_5.jpg" />

<h1 class="introduction">Browse all public projects</h1>

<div ng-controller="ListProjectController">
  <h2>There are <strong ng-model="projectCount">{{ projectCount }}</strong> public projects</h2>

	<div class="container-inner">

		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Link</th>
				</tr>
			</thead>
			
			<tbody>
        <% @projects.each do |project| %>
          <tr>
            <td><%= project.name %></td>
            <td><%= project.desc %></td>
            <td><%= link_to "Link", home_browse_path(:id => project.id) %></td>
          </tr>
        <% end %>
			</tbody>
		
		</table>

	</div>

</div>
