<h1>Create A Project</h1>

<h2>Tell us a bit about your project</h2>

<p>PROJECT NAME</p>

<p>PROJECT DESCRIPTION</p>

<p>PROJECT TYPE (dropdown)</p>

<h2>Set some targets</h2>

<p>GIANT FUCKING RADIO SELECTIONS DEPENDING ON PROJECT TYPE</p>

<h2>Configure the options for your project</h2>

<p>SOME KIND OF FORM STUFF (DEPENDING ON PROJECT TYPE?)</p>