<img src="/images/home_4.jpg" />

<h1 class="introduction">Create a new project</h1>

<h2>Tell us a bit about your project</h2>

<div ng-controller="CreateProjectController">
  <div>
    <input type="text">
  </div>

<p>PROJECT NAME</p>

<p>PROJECT DESCRIPTION</p>

<p>PROJECT TYPE (dropdown)</p>

<h2>Set some targets</h2>

<p>GIANT FUCKING RADIO SELECTIONS DEPENDING ON PROJECT TYPE</p>

<h2>Configure the options for your project</h2>

<p>SOME KIND OF FORM STUFF (DEPENDING ON PROJECT TYPE?)</p>

  <div>
    <input type="button" ng-click="update()" value="Create this project"/>
  </div>
</div>
