<img src="/images/home_1.jpg" />

<h1 class="introduction">Food orders, coffee runs, birthday collections and more - made easier with Followthru.</h1>

<div class="container-inner">

	<div class="col3 col3-doubleleft">
	
		<h2>Most popular projects</h2>
		
		<ul class="project-quilt">
			<li>
				<img src="http://placekitten.com/202/100">
				<p><a href="">Cat herding... and breakfast!</a></p>
				<p>A team-building activity that starts at the Cat Haven and ends at a Chinese restaurant.</p>
				<p><small>5 pledges out of 6 needed.</small></p>
				<button type="button" class="btn btn-success">Support this project</button>
			</li>
			<li>
				<img src="http://placekitten.com/202/100">
				<p><a href="">Kitten Burgers</a></p>
				<p>Let's dress up kittens in burger costumes and take photos all day. It's crazy burgers!</p>
				<p><small>3 pledges so far.</small></p>
				<button type="button" class="btn btn-success">Support this project</button>
			</li>
			<li>
				<img src="http://placekitten.com/202/100">
				<p><a href="">Bye bye, kitty</a></p>
				<p>Kitty is leaving tomorrow. Let's get her a present. Shh, keep this a secret.</p>
				<p><small>$30 out of $400 needed.</small></p>
				<button type="button" class="btn btn-success">Support this project</button>
			</li>
		</ul>
		
		<p><%= link_to 'Check out more projects...', home_browse_path %>
		
		<h2>Followthru makes it easy to organise your group activity.</h2>
		
		<p>Fatback pork belly cow, pig pancetta meatball ball tip turkey corned beef meatloaf tri-tip biltong. Spare ribs kielbasa bresaola, ribeye pig ground round ball tip turkey. Ham hock shankle pig short loin sausage. Flank ground round chuck swine tongue, prosciutto boudin leberkas capicola turkey venison shankle jowl hamburger ribeye. Short ribs pig frankfurter leberkas. Capicola swine pork chop tail boudin andouille sausage flank ribeye pastrami pork loin leberkas jerky ham hock. Pastrami ribeye chuck, bresaola pork loin capicola ground round short loin flank boudin frankfurter.</p>
	
	</div>
	
	<div class="col3 col3-right">
	
		<h3>Most popular users</h3>
		
		<% @users.each do |user| %>
			<p>User: <%=link_to user.name, user %></p>
		<% end %>
	
	</div>

</div>