<img src="/images/home_1.jpg" />

<h1 class="introduction">Food orders, coffee runs, birthday collections and more - all easier with Followthru.</h1>

<% @users.each do |user| %>
  <p>User: <%=link_to user.name, user %></p>
<% end %>