<img src="/images/home_1.jpg" />

<h1 class="introduction">Food orders, coffee runs, birthday collections and more - made easier with Followthru.</h1>

<div class="container-inner">

	<div class="col3 col3-doubleleft">
	
		<h2>Most popular projects</h2>
		
		<ul class="project-quilt">
			<li>
				<img src="http://placekitten.com/202/100">
				<p><a href="">Cat herding... and breakfast!</a></p>
				<p>A team-building activity that starts at the Cat Haven and ends at a Chinese restaurant.</p>
				<div class="go-pledge">
					<p><small>5 pledges out of 6 needed.</small></p>
					<button type="button" class="btn btn-success">Support this project</button>
				</div>
			</li>
			<li>
				<img src="http://placekitten.com/202/100">
				<p><a href="">Kitten Burgers</a></p>
				<p>Let's dress up kittens in burger costumes and take photos all day. It's crazy burgers!</p>
				<div class="go-pledge">
					<p><small>3 pledges so far.</small></p>
					<button type="button" class="btn btn-success">Support this project</button>
				</div>
			</li>
			<li>
				<img src="http://placekitten.com/202/100">
				<p><a href="">Samurai Pizza Cats</a></p>
				<p>I feel like getting pizza today. Anyone else want some?</p>
				<div class="go-pledge">
					<p><small>32 pledges so far.</small></p>
					<button type="button" class="btn btn-success">Support this project</button>
				</div>
			</li>
			<li>
				<img src="http://placekitten.com/202/100">
				<p><a href="">A generic project</a></p>
				<p>Just looking to see who's keen on helping me with a generic project. Sorry, no rewards.</p>
				<div class="go-pledge">
					<p><small>0 pledges out of 6 needed.</small></p>
					<button type="button" class="btn btn-success">Support this project</button>
				</div>
			</li>
			<li>
				<img src="http://placekitten.com/202/100">
				<p><a href="">Deliverance day 3</a></p>
				<p>We're doing this again. Who's interested?</p>
				<div class="go-pledge">
					<p><small>300 pledges so far.</small></p>
					<button type="button" class="btn btn-success">Support this project</button>
				</div>
			</li>
			<li>
				<img src="http://placekitten.com/202/100">
				<p><a href="">Bye bye, kitty</a></p>
				<p>Kitty is leaving tomorrow. Let's get her a present. Shh, keep this a secret.</p>
				<div class="go-pledge">
					<p><small>$30 out of $400 needed.</small></p>
					<button type="button" class="btn btn-success">Support this project</button>
				</div>
			</li>
		</ul>
		
		<p><%= link_to 'Check out more projects...', home_browse_path %>
		
	</div>
	
	<div class="col3 col3-right">

		<h3>Organise group projects with ease.</h3>
		
		<p><strong>Followthru</strong> is a crowdsourcing, crowdfunding system that helps you get the resources and support you need to follow through with your idea.</p>
		
		<p><%= link_to 'Create a project', home_new_path %>, set any necessary goals, then put out the call to your workmates. Once your project meets its target, you can track all pledges and payments, and generate friendly reminders as needed.</p>
		
		<h3>For supporters:</h3>
		
		<ul>
			<li><a href="">I'd like to get in on someone's shopping order</a></li>
			<li><a href="">I want to participate in a special event</a></li>
			<li><a href="">I wish to contribute to a gift</a></li>
			<li><a href="">I want to offer my services to a group project</a></li>
		</ul>

		<h3>Got an idea for a project?</h3>
		
		<ul>
			<li><%= link_to 'Create your Followthru project now', home_new_path %></li>
		</ul>
		
		<h3>Browse for projects by location</h3>
		
		<ul>
			<li><a href="">Subiaco, WA, AU</a></li>
			<li><a href="">Sydney, NSW, AU</a></li>
			<li><a href="">Auckland, NZ</a></li>
			<li><a href="">Melbourne, VIC, AU</a></li>
			<li><a href="">Cape Town, South Africa</a></li>
		</ul>

		<h3>Most popular users</h3>
		
		<ul>
		<% @users.each do |user| %>
			<li>User: <%=link_to user.name, user %></li>
		<% end %>
		</ul>
	
	</div>

</div>