<img src="/images/home_2.jpg" />

<h1 class="introduction">Manage my projects</h1>

<p>You have <strong>X NUMBER</strong> projects open:</p>

<table class="projects">
  <tr>
    <th>Image</th>
    <th>Name</th>
    <th>Desc</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <tr>
    <td>[IMG]</td>
    <td>dummy project name</td>
    <td>Bacon ipsum dolor sit amet meatball brisket strip steak pork loin chicken salami. Ground round jerky brisket, ball tip tri-tip t-bone short loin hamburger frankfurter pork chop turducken salami sirloin swine chuck.</td>
    <td>Show</td>
    <td>Edit</td>
    <td>Delete forever</td>
  </tr>
  <tr>
    <td>[IMG]</td>
    <td>dummy project name</td>
    <td>Bacon ipsum dolor sit amet meatball brisket strip steak pork loin chicken salami. Ground round jerky brisket, ball tip tri-tip t-bone short loin hamburger frankfurter pork chop turducken salami sirloin swine chuck.</td>
    <td>Show</td>
    <td>Edit</td>
    <td>Delete forever</td>
  </tr>
  <tr>
    <td>[IMG]</td>
    <td>dummy project name</td>
    <td>Bacon ipsum dolor sit amet meatball brisket strip steak pork loin chicken salami. Ground round jerky brisket, ball tip tri-tip t-bone short loin hamburger frankfurter pork chop turducken salami sirloin swine chuck.</td>
    <td>Show</td>
    <td>Edit</td>
    <td>Delete forever</td>
  </tr>

</table>

<h2>Successful projects</h2>

<p>PROJECTS THAT MET THE TARGET</p>

<h2>Shelved projects</h2>

<p>PROJECTS THAT DIDN'T MEET THE TARGET</p>