<h1>Manage My Projects</h1>

<p>You have <strong>X NUMBER</strong> projects open:</p>

<p>OPEN PROJECTS</p>

<h2>Successful projects</h2>

<p>PROJECTS THAT MET THE TARGET</p>

<h2>Shelved projects</h2>

<p>PROJECTS THAT DIDN'T MEET THE TARGET</p>